:root {
  --text_color: rgb(98, 122, 228);
  --number_color: rgb(209, 177, 73);
  --score_text: white;
  --bg_color: blue;
  --font-family: 'Original Surfer', cursive;
  --light-text: #ffffff;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --outline: hsl(217, 16%, 45%);
  --bg-grad-1: hsl(214, 47%, 23%);
  --bg-grad-2: hsl(237, 49%, 15%);
  --scissors-1: hsl(39, 89%, 49%);
  --scissors-2: hsl(40, 84%, 53%);
  --paper-1: hsl(230, 89%, 62%);
  --paper-2: hsl(230, 89%, 65%);
  --rock-1: hsl(349, 71%, 52%);
  --rock-2: hsl(349, 70%, 56%);
  --shadow-light: #4832c226;
  --shadow-med: #0000004d;
  --winner-back1: #293251;
  --winner-back2: #232c4b;
  --winner-back3: #1e2949;
}
